@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --paper-texture: url('assets/images/textures/paper.png');

    /* Light Mode Colors */
    --color-off-white: #F5F5F5;
    --color-off-black: #141414;
    --color-yellow: #FFAA01;
    --color-red: #FE0000;
    --color-teal: #009899;
  
      /* Font Families */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-accent: 'Playfair Display', serif;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

  }

  .dark {
    /* Dark Mode Colors */
    /* Will need to be changed... */
    --color-off-white: #D3D3D3;
    --color-off-black: #D3D3D3;
    --color-yellow: #1E1E1E;
    --color-red: #DC143C;
    --color-teal: #009899;
  }