@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --paper-texture: url('assets/images/textures/paper.png');

  /* Light Mode Colors */
  --color-off-white: #F5F5F5;
  --color-off-black: #141414;
  --color-yellow: #FFAA01;
  --color-red: #FE0000;
  --color-teal: #009899;

  /* Font Families */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

}

html {
  scroll-behavior: smooth;
}

.dark {
  --color-off-white: #F5F5F5;
  --color-off-black: #1E1E1E;
  --color-yellow: #DAA520;
  --color-red: #DC143C;
  --color-teal: #006666;
}

.dark #hero {
  --color-yellow: #1E1E1E;
  --color-off-black: #A9A9A9;
  --color-off-white: #A9A9A9;
}

.dark #about {
  --color-off-black: #A9A9A9;
  --color-off-white: #1E1E1E;
}

.dark #services {
  --color-off-white: #A9A9A9;
  --color-off-black: #A9A9A9;
  --color-yellow: #1E1E1E;
}

.dark #services h2, .dark #services hr { 
  --color-off-black: #1E1E1E;
}

.dark #projects {
  --color-off-white: #A9A9A9;
  --color-yellow: #1E1E1E;
}

.dark #testimonials {
  --color-off-white: #A9A9A9;
  --color-yellow: #1E1E1E;
}

.dark #testimonials .testimonial-item {
  --color-off-black: #A9A9A9;
}

.dark #contact {
  --color-off-white: #A9A9A9;
}

.dark footer {
  --color-off-white: #A9A9A9;
}

.dark img, .dark .emjo {
  filter: brightness(0.7);
}